global
	log stdout format raw local0
	ssl-default-bind-options ssl-min-ver TLSv1.2

defaults
	log global
	timeout connect 5s
	timeout client 30s
	timeout server 30s

resolvers docker
	nameserver dns 127.0.0.11:53
	resolve_retries 3
	timeout resolve 1s
	timeout retry 1s
	hold valid 10s

frontend redis_tls
	mode tcp
	bind :6379 ssl crt /usr/local/etc/haproxy/certs/staging.pem
	default_backend redis_plain

backend redis_plain
	mode tcp
	server redis redis-rate-limit:6379 check resolvers docker init-addr last,libc,none

frontend user_tls
	mode http
	bind :8443 ssl crt /usr/local/etc/haproxy/certs/staging.pem
	http-request set-header X-Forwarded-Proto https
	default_backend user_plain

backend user_plain
	mode http
	server user user-api:3001 check resolvers docker init-addr last,libc,none

frontend object_tls
	mode http
	bind :8444 ssl crt /usr/local/etc/haproxy/certs/staging.pem
	http-request set-header X-Forwarded-Proto https
	default_backend object_plain

backend object_plain
	mode http
	server object minio:9000 check resolvers docker init-addr last,libc,none

frontend search_tls
	mode http
	bind :8445 ssl crt /usr/local/etc/haproxy/certs/staging.pem
	http-request set-header X-Forwarded-Proto https
	default_backend search_plain

backend search_plain
	mode http
	server search typesense:8108 check resolvers docker init-addr last,libc,none

frontend provider_tls
	mode http
	bind :8446 ssl crt /usr/local/etc/haproxy/certs/staging.pem
	http-request set-header X-Forwarded-Proto https
	default_backend provider_plain

backend provider_plain
	mode http
	server provider provider-sink:3010 check resolvers docker init-addr last,libc,none

frontend event_tls
	mode http
	bind :8447 ssl crt /usr/local/etc/haproxy/certs/staging.pem
	http-request set-header X-Forwarded-Proto https
	default_backend event_plain

backend event_plain
	mode http
	server event event-api:3002 check resolvers docker init-addr last,libc,none
